.whiteout {
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.page-modal {
    clear: both;
    position: absolute;
    background: white;
    height: auto;
    top: 0;
    z-index: 6;
}

@media (min-width: 40em) {
    .page-modal {
        left: 15%;
        width: 85%;
    }   
}

.page-modal-content {
    margin-top: 64px;
    margin-bottom: 64px;
    background: inherit;
}

.close-button {
    z-index: 20;
    width: 100%;
    color: #f4f4f4;
}

.complete-overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 10;
}

#modal-img-overlay {
    background: rgba(0, 0, 0, 0.75);
}

.modal-img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  vertical-align: middle;;
}