html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height:100%;
}

body
{
    height: 100%;
}

.fit-image {
    min-width: 100%;
    min-height: 90%;
    margin: 0px;
    position: absolute;
}

h1,h2,h3,h4,h5,h6 {
    color: #101010;
    font-family: "Segoe UI Light", "Helvetica", "Arial", "Sans-Serif";
}

.fg-subline {
    margin-left: 2%;
}

.background-rotator {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

.btn-clear {
  background-color: transparent;
  border-color: transparent;
  font-weight: lighter;
}

.affix {
  position: fixed;
  z-index: 12;
}

.processing-canvas {
  width: 100%;
  height: 100%;
}

.article-img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.article-profile-img {
  max-height: 480px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.article-img-half {
    max-width: 45%;
    max-height: 100%;
    min-width: 20px;
    margin: 8px;
    cursor: pointer;
}

.close-button:hover {
    text-decoration: none;
    color: black;
}

.page-content {
    clear: both;
    position: relative;
    /*padding-left:10%;
    padding-right:10%;*/
    /*padding-bottom:10%;*/
    height: 100%;
}

.page-header {
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    clear: both;
    position:relative;
}

.page-section {
    height: 100%;
}

@media (max-width: 40em) {
    .fg-text {
        font-family: "Segoe UI", "Helvetica", "Arial", "Sans-Serif";
        color: #101010;
        /*font-weight: bold;*/
        /*text-shadow: 1px 1px 0px #000000;*/
    }
    
    .btn-clear {
          color: #101010;
    }
    
    .btn-clear:hover,
    .btn-clear:focus,
    .btn-clear:active,
    .btn-force-select {
        color: rgba(255, 255, 255, 0.75);
        background-color: black;
        border-color: transparent;
        !important;
    }

    .fullscreen {
        width: 100%;
        height: 95%;
        overflow: hidden;
        z-index: 8;
    }

    .fixed-content{
        margin-left: 10%;
        float: left;
        position: absolute;
        bottom: 32px;
    }
    
    .blackbar {
        position: fixed;
        z-index: 12;
        height: 32px; 
        width: 100%; 
        text-align: center;
    }
    
    .page-content{
        margin: 0;
    }

    .page-header {
        
        margin: 0;

    }
}

@media (min-width: 40em) {
    .fg-text {
        font-family: "Segoe UI", "Helvetica", "Arial", "Sans-Serif";
        color: white;
        /*font-weight: bold;*/
        text-shadow: 1px 1px 0px #000000;
    }
    
    .btn-clear {
        color: white;
    }
    
    .btn-clear:hover,
    .btn-clear:focus,
    .btn-clear:active,
    .btn-force-select {
      color: rgba(255, 255, 255, 0.5);
      background-color: white;
      border-color: transparent;
      !important;
    }
    
    .fullscreen {
      width: 15%;
      height: 100%;
      overflow: hidden;
      z-index: 8;
    }

    .fixed-content{
        margin-left: 10%;
        float: left;
        position: absolute;
        top: 32px;
        width: 100%;
    }
    
    .blackbar {
        display: none;
    }
    
    .page-content{        
        margin: 0 0 0 15%;
    }

    .page-header{
        margin: 0 0 0 15%;
    }
}


.content-inverted {
  color: white;
  background: #101010;
  background-color: #101010;
}

.content-main {
  color: black;
  background: white;
  background-color: white;
}