.tumblr_posts {
    list-style: none;   
}

.tumblr_body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;   
}

.tumblr_title {
    font-size: 20px;
    color: #101010;
    font-family: "Segoe UI Light", "Helvetica", "Arial", "Sans-Serif";
    margin: 16px;
}

blockquote {
    font-style: italic;
    color: #323232;
    font-size: 14px;
    font-family: "Segoe UI Light", "Helvetica", "Arial", "Sans-Serif";
    font-weight: normal;
    margin-left: 16px;
}