<!DOCTYPE html>
<html>
    <head>
        <!-- charset must remain utf-8 to be handled properly by Processing -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script type="text/javascript"> 
        <!-- 
        (function() { 
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) { 
                var msViewportStyle = document.createElement("style"); 
                msViewportStyle.appendChild( 
                    document.createTextNode("@-ms-viewport{width:auto!important}") 
                ); 
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle); 
            } 
        })(); 
        //--> 
        </script>
        
        <link rel="stylesheet" href="lib/bootstrap-3.0.0-wip/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/style-static.css"/>
        <link rel="stylesheet" href="css/portfolio-images.css"/>
        <link rel="stylesheet" href="css/modals.css"/>
        <link rel="stylesheet" href="css/tumblr.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="lib/bootstrap-3.0.0-wip/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/backbone/underscore.js"></script>
        <script type="text/javascript" src="lib/backbone/backbone.js"></script>
        <script type="text/javascript"> GRANT = {}; </script>
        <script type="text/javascript" src="mv/mainView.js"></script>
        <script type="text/javascript" src="mv/mainModel.js"></script>
        <script type="text/javascript" src="lib/processing/processing.min.js"></script>
        <script type="text/javascript" src="processing/lines.pjs"></script>
        <script type="text/javascript" src="processing/sky.pjs"></script>
        <script type="text/javascript" src="processing/sunset.pjs"></script>
        <script type="text/javascript" src="processing/birds.pjs"></script>
        <script type="text/javascript" src="lib/jquery.scrollTo-1.4.3.1-min.js"></script>
    </head>
    <body>
        <div id="header" class="fixed-header fullscreen affix" style="opacity: 0">
            <div id="rotator" class="background-rotator">
                <canvas id="cloud-canvas" class="fit-image processing-canvas" style="background: white" ></canvas>
                <canvas id="processing-canvas" class="fit-image processing-canvas" style="background: white">
                </canvas>
                <canvas id="sunset-canvas" class="fit-image processing-canvas" style="background: white">
                </canvas>
                <div id="thoughts-canvas" class="fit-image processing-canvas" style="background: #aaaaaa"></div>
            </div>
            <div id="foreground" class="fixed-content">
                <h1 class="fg-text">Grant Forrest</h1>
                <h4 class="fg-text fg-subline">I create things</h4>
                <ul id="nav-buttons" class="nav nav-pills fg-subline">
                    <li><a href="#" class="btn btn-clear fg-text">home</a></li>
                    <li><a href="#dev" class="btn btn-clear fg-text">dev</a></li>
                    <li><a href="#music" class="btn btn-clear fg-text">music</a></li>
                    <li><a href="#thoughts" class="btn btn-clear fg-text">thoughts</a></li>
                </ul>
            </div>
        </div>
        <span id="blackbar" class="fixed-header content-inverted blackbar">
            <a id="arrowLink" onMouseDown="scrollDown()" onFocus="dropFocus()" ><img src="images/arrow.png" id="arrow" style="line-height: 32px; opacity: 0; height: 100%"/></a>
        </span>
        <div id="section" class="page-section" style="opacity: 0">
            <div id="sectionBuffer" class="content-inverted"></div>
            <div id="sectionHeaderOuter" class="page-header content-inverted">
                <div id="sectionHeader" class="container"></div>
            </div>
            <div id="pageDiv" class="page-content content-main" >
                <div id="pageContainer" class="container">
                    <div id="frontPage">
                        <div class="col-lg-12">
                            <h3>Who I am</h3>
                            <text>My name is Grant Forrest. I've gone by <i>a-type</i> here on the internet. I'm a programmer, writer, musician, amateur designer, novice theologian and general lover of beautiful things.</text>
                            <h3>Contact me</h3>
                            <text>You can get me at <a href="mailto:grant.forrest@outlook.com">grant.forrest@outlook.com</a>. If this is about a bug or feature in something I've coded, it'd be kind of you to use <a href='mailto:a-type-dev@outlook.com'>a-type-dev@outlook.com</a> to keep things sorted.</text>
                        </div>
                    </div>
                    <div id="devPage">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-magnolia"></div>
                                <div class="article-jumbo">
                                    <h2>Magnolia</h2>
                                    <h3>Browser-based 3D presentation creation and simulation</h3>
                                </div>
                            </div>
                            <div class="hidden portfolio-content" id="magnolia-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>Summary</h3>
                                        <text>Magnolia is an early-development experimental system for creating presentations which can be displayed in the 'high-tech spaces' of North Carolina State University's Hunt Library. I was in charge of creating and maintaining the three-dimensional project editor. Unfortunately, this innovative feature is not available to the general public at the moment, but you can try out a demo of my work on the 3D editor <a target="_blank" href="http://magnolia.lib.ncsu.edu/projects/demo/">here.</a></text>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="article-img" src="images/magnolia/Screen1.png"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="article-img" src="images/magnolia/Screen2.png"/>
                                    </div>
                                    <div class="col-lg-6">
                                        <h3>My role</h3>
                                        <text>I worked with a group of student and full-time employees to collaboratively create Magonlia from the ground up. My specialty on that team was three-dimensional simulation. I was responsible for all of the code which runs the 3D simulation of the room in the browser and enables rich user interaction. To complete this task, I used the <a href="http://www.threejs.org">ThreeJS WebGL library</a> and <a href="http://www.BackboneJS.org">Backbone</a>.</text>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>What it does</h3>
                                        <text>The simulation is incredibly well-featured. Users upload media items to our servers, and then create a new presentation project. They select one of the many high-tech rooms at Hunt Library and begin placing their media on the simulated screens. Media items are dragged and dropped on the 3D scene from the page. They can then be dragged around, resized, re-ordered, copied, pasted, or moved to other screens.</text>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="article-img" src="images/magnolia/Screen3.png"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>The cool stuff</h3>
                                        <text>Simulating an interactive room in a browser window is no easy task, but the code is constructed to tackle it with elegance. The screens in Magnolia are all textures; realtime renderings of an independent scene where media sits above a dark-gray plane. When the user interacts with a media item with his or her mouse, the mouse is raycasted to the wall, and that 3D coordinate is transformed and manipulated into the local space of the rendered scene and re-cast to collide with the media therein. Any manipulations are posted to a Backbone model of the media, which automatically updates the visible scene with change events. All interaction goes through Backbone before being rendered, so that the user's project file is constantly up-to-date.</text>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-sleepy"></div>
                                <div class="article-jumbo">
                                    <h2>Sleepy</h2>
                                    <h3>Sleep cycles in style</h3>
                                </div>
                            </div>
                            <div class="hidden portfolio-content" id="sleepy-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>Wake up!</h3>
                                        <text>Sleepy is a smart alarm app for Windows Phone which wakes you up between sleep cycles. Sleepy is a design-focused experiment in stylized UI.</text><br/>
                                        <a href='http://windowsphone.com/s?appId=b9eb8c80-1e6f-4dca-81bb-99a8465efaf2'><img src="images/badges/wp_store.png"></img></a>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="article-img-half" src="images/sleepy/main.png"/>
                                        <img class="article-img-half" src="images/sleepy/menu.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-partdieu"></div>
                                <div class="article-jumbo">
                                    <h2>Part-Dieu</h2>
                                    <h3>Metro-inspired runner game</h3>
                                </div>
                            </div>
                            <div class="hidden portfolio-content" id="partdieu-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="article-img-half" src="images/part-dieu/1.png"/>
                                        <img class="article-img-half" src="images/part-dieu/2.png"/>
                                    </div>
                                    <div class="col-lg-6">
                                        <h3>(It's French)</h3>
                                        <text>Part-Dieu is a fast-paced maze which requires quick thinking and a bit of luck. The name is an homage to the urban metro hub in Lyon, France. Metro maps were part of my inspiration for the visual style.</text><br/>
                                        <a href='http://windowsphone.com/s?appId=7dceeb76-75d6-48d4-a772-b8a97e7314a7'><img src="images/badges/wp_store.png"></img></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-tilegap"></div>
                                <div class="article-jumbo">
                                    <h2>TileGap</h2>
                                    <h3>Fill the gaps on your Windows Phone start screen</h3>
                                </div>
                            </div>
                            <div class="hidden portfolio-content" id="tilegap-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="article-img-half" src="images/tilegap/app.png"/>
                                        <img class="article-img-half" src="images/tilegap/startscreen.png"/>
                                    </div>
                                    <div class="col-lg-6">
                                        <h3>Simple but Thoughtful</h3>
                                        <text>How do you differentiate an app which only does one simple task? I incorporated context and story into a one-button-wonder which generates blank tiles for the Windows Phone start screen.</text>
                                        <a href='http://www.windowsphone.com/s?appId=0c4ccb3f-f405-47bd-8d9e-1e59667b5a47'><img src="images/badges/wp_store.png"></img></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-virtualbrowse"></div>
                                <div class="article-jumbo">
                                    <h2>VirtualBrowse</h2>
                                    <h3>A touch-centric catalog browsing kiosk in WPF</h3>
                                </div>
                            </div>
                            <div class="hidden portfolio-content" id="virtualbrowse-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>Overview</h3>
                                        <text>VirtualBrowse is a public-facing touch interface for exploring the catalog at North Carolina State University's Hunt Library. I was the sole developer on this project until January, 2013. VirtualBrowse is a WPF application written in C# and XAML.</text>
                                        <h3>My role</h3>
                                        <text>VirtualBrowse was my first project at NCSU Libraries, and I was assigned as the only developer as a Sophomore. Although I had some experience in WPF, I had never completed a project this big before. Over the course of a year I created the application, carefully employing the MVVM design pattern and documenting every portion in case another developer was added to the team. That never happened, though, and when Hunt Library opened I deployed the application to the public as the sole author. It is still in use now.</text>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="article-img article-profile-img" src="images/vb/photo1.jpg"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-github"></div>
                                <div class="article-jumbo">
                                    <h2>GitHub</h2>
                                    <h3>(Link) See my open-source projects and contributions</h3>
                                </div>
                            </div>
                            <a href="https://github.com/a-type" class="hidden portfolio-content" id="github-link"></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-ar13"></div>
                                <div class="article-jumbo">
                                    <h2>A Realization in 13 Acts</h2>
                                    <h3>Ludum Dare competition entry</h3>
                                </div>
                            </div>
                            <div class="hidden portfolio-content" id="ar13-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>Ludum Dare #22</h3>
                                        <text>I made this fairly simple platformer in 48 hours for the Ludum Dare competition using XNA. It features positional audio, a somewhat stilted story and some decent ambiance.</text>
                                        <h3>Accolades</h3>
                                        <text>A Realization placed 15th worldwide, and 1st in Audio.</text>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="article-img" src="images/ar13/screen1.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="jumbo-link">
                                <div class="portfolio-peek" id="pf-gravitas"></div>
                                <div class="article-jumbo">
                                    <h2>Gravitas</h2>
                                    <h3>(discontinued) 3D blocky space game</h3>
                                </div>
                            </div>
                            <div class="hidden portfolio-content" id="ar13-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3>My first game project</h3>
                                        <text>My former roommate, <a href="www.zacklitzsinger.com">Zack Litzsinger</a>, and I created Gravitas from scratch using XNA. My main reponsibility was developing the mesh generation algorithms to create vertex and index buffers to represent the blocks in the game. I also programmed some basic physics and collision detection.</text>
                                        <h3>Challenges</h3>
                                        <text>Gravitas presented many unique challenges to me early in my game development career. One of the biggest was to somehow represent a planet made of blocks. Planets in Gravitas as spherical, and their block data representation is actually four-dimensional. I created a mesh generation algorithm which projects the block vertex locations from a cube to spheric shells, much like a cubemap.</text>
                                        <text>In the end, Gravitas was a lesson on why you shouldn't fail slowly, since the scope of the project was too much for two undergraduates. I learned a lot about how to approach a project and identify the largest risks before investing a significant amount of time and effort.</text>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="article-img" src="images/gravitas/1.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="musicPage">
                        <div class="col-lg-6">
                            <h3>Soundcloud</h3>
                            <text>You'll find all of my best work at my SoundCloud page. <a href='https://soundcloud.com/a-type-1'>Tune in.</a></text>
                        </div>
                        <div class="col-lg-6">
                            <h3>Stream it here</h3>
                            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/29678696&amp;color=6190FF&amp;auto_play=false&amp;show_artwork=true"></iframe>
                        </div>
                    </div>
                    <div id="blogPage">
                        <script src="http://grantforrestnet.tumblr.com/js"></script>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="blocker" class="complete-overlay" >
            <div class="fixed-content" style="margin-bottom: 32px; ">
                <h2 >Loading up...</h2>
                You'll need scripts enabled to view this site.
            </div>
        </div>
        <div id="modal-img-overlay" class="complete-overlay" style="display: none;">
            <img class="modal-img" id="modal-img"/>
        </div>
        <div id="portfolio-modal-whiteout" class="whiteout" style="display: none;">
            <div id="portfolio-modal" class="page-modal">
                <div class="container">
                    <a id="portfolio-modal-dismiss" class="content-main close-button"><h1><b>&times;</b></h1></a>
                    <div class="page-modal-content">
                        <h1 id="portfolio-modal-header">Modal</h1>
                        <div id="portfolio-modal-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/template" id="sectionHeaderTemplate">
            <h2 class="content-inverted col-12"> <%= header.subtitle %> </h2>
            <text> <%= header.description %> </text>
        </script>
        <script type="text/template" id="pageTemplate">
            <% _.each(section, function(content) { %>
                <div class="col-12">
                    <h3> <%= content.title %> </h3>
                    <text> <%= content.info %> </text>
                </div>
            <% }); %>
        </script>
        <script src="js/initHeader.js"></script>
        <script src="js/initArrow.js"></script>
        <script src="js/initMV.js"></script>
        <script src="js/initProcessing.js"></script>
        <script src="js/initModal.js"></script>
        <script type="text/javascript">
            //consolidate all initialization functions
            $(document).ready(function() {
                initHeader();
                initArrow();
                initMV();
                initProcessing();
                initModal();
            });
        </script>
    </body>
</html>
